.banner {
	margin-top : 12px;
	background-color : transparent;
	height : 44px;	
}

.btn {
	position : absolute;
	left : 12px;
	right : 12px;
	text-align : center;
	color : white;
	line-height : 44px;
	background-color : #FF5E45; 
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;	
}
